$white: #fff;
$black: #333;
$gray: #666;
$light-gray: #ccc;
$dark-brown: #251A18;
$light-brown: #EEE5DE;
$official-twitter: #55acee;
$official-facebook: #455a9e;

$primary-font: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$code-font: Ricty;

$font-color: $dark-brown;

$text-line-height: 1.75;
$text-line-height-sm: 2.1;
$text-letter-spacing: 0rem;

$fade: 0.2s ease-out;
$movement: 0.8s ease-in-out;
$shadow: 0 1px 10px 0 rgba($black, .1);
$semitransparent: 0.92;

$header-height: 300px;
$footer-height: 50px;
