mixin book(name, account, icon, title, url)
  article.book
    .introduction
      h2.title
        a(href=url)= title
      block
    .introducer
      a(href=account)
        img.icon(src="./images/books/" + icon)
      a.name(href=account)= '@' + name
