doctype html
include ./_head
include ./_footer

html(lang="ja")
  head
    +head("", "article", "", "../styles/index.css", "")
  body
    main
      .title
        h1 Kosen14's
        ul
          li ベンチプレス
          li デッドリフト
          li: a(href="./bookclub/") 読書会
          li: a(href="./bookclub2nd/") 読書会2nd
      img.muscle(src="./images/muscle.png")
    +footer()
