doctype html
include ./_head
include ./_footer
include ./_book

html(lang="ja")
  head
    +head("読書会", "article", "筋肉について語り合いましょう")
  body
    .global-header
      .container_12.underline
        h1.title.grid_4
          img.logo(src="./images/kosen14s-bookclub-logo.png")
      .container_12
        .push_4.prefix_4.grid_8
          p.lead
            | Kosen14's からのコンテンツ第一弾は
            br
            | Kosen14's 読書会です。
            br
            small 筋肉と知慧に溢れた kosen14's をお見せしますよ…
    main
      +book("eliza", "https://twitter.com/eliza0x", "sample-icon.png", "にゃ〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜んを読みました！", "http://yamasy.info")
        p
          | N 次の
          a(href="https://yamasy.info") 魔方陣
          | (よく間違えられるのだが、ファンタジー作品に登場する魔法陣とは字が違うことに注意) とは、N × N マスの正方形の中に 1 から N2 までのすべての整数を重複なく配置し、すべての縦の列、すべての横の列、ふたつの対角線に並んだ数字の合計 (それぞれ N 個の数の和) が等しくなるようにしたものである。
      +book("theoldmoon0602", "https://twitter.com/eliza0x", "sample-icon.png", "にゃ〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜ん", "http://yamasy.info")
        p
          | N 次の
          a(href="https://yamasy.info") 魔方陣
          | (よく間違えられるのだが、ファンタジー作品に登場する魔法陣とは字が違うことに注意) とは、N × N マスの正方形の中に 1 から N2 までのすべての整数を重複なく配置し、すべての縦の列、すべての横の列、ふたつの対角線に並んだ数字の合計 (それぞれ N 個の数の和) が等しくなるようにしたものである。
    +footer()
