doctype html
include ../_head
include ../_footer
include ./_book

html(lang="ja")
  head
    +head("読書会", "article", "Kosen14's からのコンテンツ第一弾は Kosen14's 読書会です。筋肉と知慧に溢れた kosen14's をお見せしますよ…", "../styles/bookclub.css", "//raw.githubusercontent.com/kosen14s/kosen14s.github.io/master/images/bookclub/ogp.png")
  body
    .global-header
      h1.title
        img.logo(src="../images/kosen14s-bookclub-logo.png")
      hr.underline
      .lead
        p
          | Kosen14's からのコンテンツ第一弾は
          br
          | Kosen14's 読書会です。
          br
          small 筋肉と知慧に溢れた kosen14's をお見せしますよ…
    main
      each book, i in bookclub
        +book(i, book.account_name, book.account_url, book.account_icon, book.title, book.date, book.url)
          p= book.description
    +footer()
